<div class="row">
  <div class="col"><br>
    <center>
    <h1><b>Memory Game</b></h1><br>
    <h2 id="index-page">Create/Join a Game</h2><br>
    <form onsubmit="this.action='/game/'+this.txt.value;">
      Enter a channel name to create/join: <input type="text" id="txt"><br><br>
      <input type="submit" value="Let's play!">
    </form>

</center>
    <!-- <p><a href="/game/demo">Join</a></p> -->
  </div>
</div>
